@import './fonts.scss';

nav {
    top: 5%;
    left: 5%;
    width: 95%;
    height: 96px;
    display: flex;
    align-items: center;
    position: absolute;
    justify-content: space-between;


    .sphere {
        width: 3.5rem;
        height: 3.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .line {
        width: 35%;
        height: 1px;
        background-color: white;
        opacity: 25%;
        margin-left: 5rem;
        position: absolute;
        z-index: 3;
        left: 2rem;
    }

    .nav-item-blur {
        background: rgba(255, 255, 255, 0.04);
        backdrop-filter: blur(40.774227142333984px);
        width: 60%;
        display: flex;
        align-items: center;
        height: 100%;

        .nav-item-container {
            height: 100%;
            width: 75%;
            display: flex;
            padding-left: 5rem;
            justify-content: space-between;



            .nav-item {
                display: flex;
                align-items: center;
                width: auto;
                height: 100%;
                gap: 0.3rem;
                text-decoration: none;
                font-size: 1.5rem;

                &:hover {
                    border-bottom: 3px solid white;
                }

                .numero {
                    color: #FFF;
                    font-family: 'Barlow-Condensed';
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    letter-spacing: 2.7px;
                }

                .label {
                    color: #FFF;
                    font-family: 'Barlow-Condensed';
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    letter-spacing: 2.7px;
                }
            }

        }
    }

}